<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MobileEcosystem</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@@observablehq/notebook-inspector@1/dist/notebook-inspector-style.css">
</head>
<body>
    @RenderBody()

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>
